@inject AppState appState
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">        
            <li class="nav-item">
                <a class="nav-link" href="/items">Shop for Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ShoppingCart">Shopping Cart @(appState.cartCount.HasValue && appState.cartCount.Value != 0 ? $"({appState.cartCount.Value})" : "") </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</nav>
@code
{
    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }
}
